/* CSS Document */
body,
html {
  width: 100%;
  height: 100%;
}


/*SETUP*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SourceSansPro-Regular, sans-serif;
  font-weight: 700;
}

/*PAGE TITLE*/
.page-title {
  background-image: url(../design/new-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 0px;
}

.page-title h1 {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}

.pg-title {
  padding-top: 30px;
  text-align: center;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}


/*KONTEN*/
.konten {
  margin-top: 50px;
  margin-bottom: 50px;
}

.card {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #FCFCFC;
  text-align: center;
  padding: 15px 0 15px 0;
  border: 1px solid rgba(0,0,0,.125);
}

.card-title {
  font-size: 24px;
  font-weight: 600;
}

.card-text {
  font-size: 18px;
  font-weight: 400;
}

/*MEDIA QUERIES*/
@media (max-width: 575.98px) {
  .page-title h1 {
    font-size: 30px;
  }

  .pg-title {
    padding-top: 10px;
    font-size: 16px;
  }

  hr.orn {
    width: 33%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {}