  * {
    color: #1372d4;
  }

  /* Profile */
  .info-box { 
    border:2px solid #1372d4;
    border-radius: 15px;
    padding:30px;
    margin: 10px;
    width: 200px;
    background-color: #F8F8F8;
  }  

  .info { 
    /*background-color: #fff; */
    padding-top: 145px;
    padding-bottom:200px;
  }

  .logo { 
    padding-top: 160px; 
    padding-bottom: 60px; 
  }

  #bg-page { position:fixed; z-index:-20;}

  .saved-on { 
    position: absolute; 
    top: 230px; 
    right: 30px; 
    font-size: 15px;
  }

  .profpic { 
    position: absolute; 
    top: 245px; 
    left: 400px; 
    max-width: 180px;
    border-radius: 50%;
  }

  .inline {
    display: inline-block;
  }

  .info-value { 
    font-size: 30px;
  }

  .info-value.date{
    font-size: 25px;
  }

  .info-value.influence{
    font-size: 40px;
  }

  .info-label {
    font-size: 20px;
    color: #626262;  
  }

  .info-label.influence {
    font-size: 25px;
    color: #626262;  
  }

  .username {
    font-size: 25px;
  }

  .name {
    font-size: 40px;
    font-weight: 600;
  }

  .engrate {
    height: 210px;
    width: 210px;
    position: relative;
    margin-right: 10px;
  }

  .engrate-circle {
    position: absolute;
  }

  .engrate-txt {
    z-index: 10;
    position: absolute;
    left: 55px;
    top: 55px;
  }

  div.page {
    position: relative;
    page-break-after: always;
    page-break-inside: avoid;
  }

  /* Compare */
  .info-compare {
    /*background-color: #fff; */
    padding-top: 30px;
    padding-bottom: 60px;
    margin-top: 50px;
  }

  .info-label-compare {
    color: #626262;
    font-size: 15px;
  }

  .logo-rotate { 
    padding-top:20px; 
  }

  .profpic-compare {
    position: absolute; 
    top: -100px;
    left: 50%;
    margin-left: -70px;
    max-width: 125px;
    border-radius: 50%;
  }

  .div-compare {
    position: relative;
    padding: 0px 60px;
  }

  .engrate-compare {
    position: relative;
    width: 125px;
    height: 125px;
    margin: 10px 0px;
  }

  .engrate-circle-compare {
    position: absolute;
  }

  .engrate-txt-compare {
    z-index: 10;
    position: absolute;
    left: 21px;
    top: 32px;
    font-size: 17px;
  }

  .info-box-compare {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 17px;
  }

  .username-compare {
    font-size: 23px !important;
  }

  /* Plain */
  .logouser {
    max-height: 90px;
    margin-top: -50px;
  }

  .profpic-plain { 
    position: absolute; 
    top: 180px; 
    left: 200px; 
    max-width: 180px;
    border-radius: 50%;
  }

  .infobox-plain {
    padding:10px;
    width:250px;
  }

  .logo-footer{
    position: absolute;
    bottom:20px;
    left: 100px;
    width: 180px;
  }

  .logo-footer.profile {
    bottom:125px;
  }

  .saved-on-footer { 
    position: absolute;
    bottom:20px;
    right: 100px; 
    font-size: 14px;
    color: #626262;
  }

  .saved-on-footer.profile {
    bottom:125px;
  }

  .info-value-plain { 
    font-size: 38px;
  }

  .info-label-plain {
    font-size: 26px;
    color: #626262;
  }

  .info-labelsm-plain {
    font-size: 24px;
    color: #626262;
  }

  .username-plain {
    font-size: 25px;
    color: #626262;  
  }

  .col-akun {
    width:400px; margin-left: 100px;
  }

  .col-info {
    vertical-align:top;
  }

  .div-username {
    padding-top:110px; padding-bottom: 40px
  }

  .div-influenced {
    padding-bottom: 50px; margin-top:-30px;
  }

  .info-1 {
    padding-bottom: 30px;
  }