/*FORM*/
.signup-content {
  background: #fff;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  padding: 50px 85px;
  width: 700px;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.form-group .form-control {
  width: 100%;
}

.form-title {
  font-size: 30px;
  font-weight: 400;
  color: #1B66C3;
  margin-bottom: 50px;
}

.form-group {
  overflow: hidden;
  margin-bottom: 20px;
}

.form-input {
  width: 100% !important;
  border: 1px solid #ebebeb;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  /* padding: 17px 20px; */
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
  color: #222;
}

.form-input::-webkit-input-placeholder {
  color: #999;
}

.form-input::-moz-placeholder {
  color: #999;
}

.form-input:-ms-input-placeholder {
  color: #999;
}

.form-input:-moz-placeholder {
  color: #999;
}

.form-input::-webkit-input-placeholder {
  font-weight: 500;
}

.form-input::-moz-placeholder {
  font-weight: 500;
}

.form-input:-ms-input-placeholder {
  font-weight: 500;
}

.form-input:-moz-placeholder {
  font-weight: 500;
}

.form-input:focus {
  border: 1px solid transparent;
  -webkit-border-image-source: -webkit-linear-gradient(to right, #9face6, #74ebd5);
  -moz-border-image-source: -moz-linear-gradient(to right, #9face6, #74ebd5);
  -o-border-image-source: -o-linear-gradient(to right, #9face6, #74ebd5);
  border-image-source: linear-gradient(to right, #9face6, #74ebd5);
  -webkit-border-image-slice: 1;
  border-image-slice: 1;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.form-input:focus::-webkit-input-placeholder {
  color: #222;
}

.form-input:focus::-moz-placeholder {
  color: #222;
}

.form-input:focus:-ms-input-placeholder {
  color: #222;
}

.form-input:focus:-moz-placeholder {
  color: #222;
}

.form-submit {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 700;
  color: #505050;
  text-transform: uppercase;
  background-color: #15D518;
  box-shadow: 0 1px 2px 0 rgba(75, 75, 75, 0.50);
}

.form-submit:hover {
  box-shadow: 1px 3px 4px 1px rgba(75, 75, 75, 0.6);
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pointer {
  cursor: pointer;
}

/*input[type=checkbox]:not(old) {
  width: 2em;
  margin: 0;
  padding: 0;
  font-size: 1em;
  display: none;
}*/

input[type=checkbox]:not(old) + label {
  display: inline-block;
  margin-top: 7px;
  margin-bottom: 25px;
}

input[type=checkbox]:not(old) + label > span {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 15px;
  margin-bottom: 3px;
  border: 1px solid #ebebeb;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  background: white;
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
  vertical-align: bottom;
}

input[type=checkbox]:not(old):checked + label > span {
  background-image: -moz-linear-gradient(white, white);
  background-image: -ms-linear-gradient(white, white);
  background-image: -o-linear-gradient(white, white);
  background-image: -webkit-linear-gradient(white, white);
  background-image: linear-gradient(white, white);
}

input[type=checkbox]:not(old):checked + label > span:before {
  content: '\f26b';
  display: block;
  color: #222;
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
  font-family: 'Material-Design-Iconic-Font';
  font-weight: bold;
}

.label-title-test {
  font-size: 16px;
  font-weight: 400;
}

.label-agree-term {
  font-size: 14px;
  font-weight: 600;
  color: #555;
}

.loginhere {
  color: #555;
  font-weight: 600;
  text-align: center;
  margin-top: 91px;
  margin-bottom: 5px;
}


.field-icon {
  float: right;
  margin-right: 17px;
  margin-top: -32px;
  position: relative;
  z-index: 2;
  color: #555;
}

/*MEDIA QUERIES*/
@media (max-width: 575.98px) {
  .signup-content {
    width: auto !important;
    padding: 20px;
  }

  .form-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .form-group-mob {
    margin-bottom: 20px;
  }

  .loginhere {
    font-size: 14px;
    margin-top: 40px;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .signup-content {
    width: auto !important;
    padding: 20px;
  }

  .form-title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 25px;
  }

  .form-group-mob {
    margin-bottom: 20px;
  }

  .loginhere {
    font-size: 14px;
    margin-top: 40px;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {}