/* CSS Document */
body,
html {
  background-image: none;
  width: 100%;
  height: 100%;
}


/*SETUP*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SourceSansPro-Regular, sans-serif;
  font-weight: 700;
}

thead {
  background-color: #FCFCFC;
  border-bottom: none;
}

table tr {
  border:none;
}

/*HR*/
hr.orn {
  border-top: 3px solid #fff;
  width: 10%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

hr.wh {
  border-top: 1px solid #fff;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}


/*PAGE TITLE*/
.page-title {
  background-image: url(../bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 50px;
  margin-top: 0px;
}

.page-title h1 {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}

.pg-title {
  padding-top: 30px;
  text-align: center;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}

.onoffswitch {
  position: relative;
  width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  margin-top: 40px;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #FFFFFF;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 35px;
  padding: 0;
  line-height: 35px;
  font-size: 18px;
  color: white;
  box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "Monthly";
  padding-left: 10px;
  background-color: #fafafa;
  color: #ac5e5e;
  text-align: left;
}

.onoffswitch-inner:after {
  content: "Yearly";
  padding-right: 10px;
  background-color: #fafafa;
  color: rgb(205, 21, 241);
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 18px;
  margin: 11px;
  background: rgb(247, 3, 3);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 80px;
  border: 0 solid #8c8c8c;
  border-radius: 18px;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}


/*COMPARISION*/
.tooltipstered {
  z-index: 99999999999999999999999999999;
}

.comparison {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 75px;
  margin-bottom: 75px
}

.comparison table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #CCC;
  background-color: #FCFCFC;
}

thead tr:first-child th {
  position: sticky;
  top: 0;
}

.comparison td {
  font-size: 18px;
  font-weight: 400;
}

.comparison td:first-child {
  width: 300px;
}

.comparison td,
.comparison th {
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  empty-cells: show;
  padding: 15px;
  width: 175px;
}

.compare-heading {
  font-size: 18px;
  font-weight: bold !important;
  border-bottom: 0 !important;
  padding-top: 10px !important;
}

.comparison tbody tr:nth-child(odd) {
  display: none;
}

.comparison .tickblue {
  color: #0078C1;
  font-size: 18px;
  font-weight: 400;
}

.comparison .cross {
  color: #FF1744;
  font-size: 10px;
  font-weight: 400;
}

.comparison .tickgreen {
  color: #009E2C;
}

.comparison th {
  font-weight: normal;
  padding: 0;
  border-bottom: 1px solid #CCC;
}

.comparison tr td:first-child {
  text-align: left;
}

.comparison .features {
  text-align: left;
}

.comparison .qbse,
.comparison .qbo,
.comparison .tl {
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top: 1px solid #CCC;
  border-right: 1px solid #CCC;
  border-bottom: 0;
  background-color: #FCFCFC;
}

.comparison .tl2 {
  border-right: 0;
}

.comparison .qbse {
  background: #fff;
  border-top: 1px solid #ccc;
  border-top-left-radius: 3px;
  border-left: 1px solid #ccc;
  background-image:  linear-gradient(51deg, #2c1872, rgba(186, 55, 143, 0.98) 38%, rgba(235, 96, 79, 0.97) 66%, rgba(250, 218, 93, 0.95));
}
.comparison .qbo {
  background: #009E2C;
  border-top-right-radius: 3px;
  border-right: 0px;
}

.comparison .price-info {
  padding: 5px 15px 15px 15px;
}

.comparison .price-was {
  color: #999;
  text-decoration: line-through;
}

.comparison .price-now,
.comparison .price-now span {
  color: #1a1a1a;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.comparison .price-now span {
  font-size: 30px;
  padding-bottom: 50px;
}

.comparison .price-small {
  font-size: 18px !important;
  position: relative;
  top: -11px;
  left: 2px;
}

.comparison .price-try {
  font-size: 12px;
}

.comparison .price-try a {
  color: #202020;
}

.fonticon {
  font-size: 14px;
  color: #505050;
}

.btn-primary-free {
  width: 75px;
  height: 30px;
  padding: 0;
  margin-left: 5px;
  font-size: 14px;
  background-color: #c3c3c3;
  border-color: transparent;
  color: #fff;
}

.btn-primary-prc {
  width: 75px;
  height: 30px;
  padding: 0;
  margin-left: 5px;
  font-size: 14px;
  background-color: #2DAD35;
  border-color: transparent;
  color: #fff;
}

.btn-primary-prc:hover {
  background-color: #12961a;
  border-color: transparent;
}

.yearly-button {
  display: none;
}

/*MEDIA QUERIES*/
@media (max-width: 320px) {
  .comparison .price-now span {
    font-size: 16px !important;
  }

  .comparison td {
    font-size: 14px !important;
    font-weight: 600;
  }

  .comparison .tickblue {
    color: #0078C1;
    font-size: 14px !important;
    font-weight: 400;
  }
  
  .btn-primary-free {
    width: 60px;
    font-size: 12px;
  }
  
  .btn-primary-prc {
    width: 60px;
    font-size: 12px;
  }
}

@media (max-width: 639px) {
  .page-title h1 {
    font-size: 30px;
  }

  .pg-title {
    padding-top: 10px;
    font-size: 16px;
  }
  
  .comparison .price-buy {
    padding: 5px 10px;
  }

  .comparison td,
  .comparison th {
    padding: 10px 5px;
  }

  .comparison .hide-mobile {
    display: none;
  }

  .comparison .price-now span {
    font-size: 20px;
  }

  .comparison .price-small {
    font-size: 16px !important;
    top: 0;
    left: 0;
  }

  .comparison .qbse,
  .comparison .qbo {
    font-size: 12px;
    padding: 10px 5px;
  }

  .comparison .price-buy {
    margin-top: 10px;
  }

  .compare-heading {
    font-size: 13px;
  }

  .comparison td {
    font-size: 14px;
    font-weight: 600;
  }
  
  .comparison .tickblue {
    color: #0078C1;
    font-size: 16px !important;
    font-weight: 400;
  }
}

@media (max-width: 767px) {

  .comparison td:first-child,
  .comparison th:first-child {
    display: none;
  }

  .comparison tbody tr:nth-child(odd) {
    display: table-row;
    background: #F7F7F7;
  }

  .comparison .row {
    background: #FFF;
  }

  .comparison td,
  .comparison th {
    border: 1px solid #CCC;
  }

  .price-info {
    border-top: 0 !important;

  }

}
