/* CSS Document */
body,
html {
  width: 100%;
  height: 100%;
  background-image: none;
}


/*SETUP*/
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: SourceSansPro-Regular, sans-serif;
  font-weight: 700;
}


/*NAVBAR*/
.navbar {
  min-height: 70px !important;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border: none !important;
}

.nav-link {
  font-weight: 400;
  color: #1A1A1A !important;
}

.nav-link:hover {
  color: #1E6CC6 !important;
}

*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  transition: 0.3s;
}

.navbar-nav > .btn-primary {
  background-color: #fff;
  font-weight: 400;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #1E6CC6;
  border-left: none;
  border-radius: 0;
  color: #1E6CC6;
  position: relative;
  z-index: 1;
  cursor: pointer;
  background: transparent;
}

.navbar-nav > .btn-primary:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 100%;
  z-index: -1;
  content: "";
  background: #1E6CC6;
}

.navbar-nav > .btn-primary:hover {
  background-color: #fff;
  font-weight: 400;
  border-radius: 0;
  border-top: none;
  border-right: none;
  border-bottom: 2px solid #1E6CC6;
  border-left: none;
  color: #fff;
}

.navbar-nav > .btn-primary:hover:before {
  width: 100%;
}


/*HR*/
hr.orn {
  border-top: 3px solid #fff;
  width: 10%;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

hr.wh {
  border-top: 1px solid #fff;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
}


/*PAGE TITLE*/
.page-title {
  background-image: url(../design/new-bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
}

.page-title h1 {
  text-align: center;
  color: #fff;
  font-size: 48px;
  font-weight: 600;
}

.pg-title {
  padding-top: 30px;
  text-align: center;
  max-width: 600px;
  display: block;
  margin: 0 auto;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.3;
}


/*FAQ*/
.accordion {
  margin: 50px 0 50px 0;
}

.accordion .card {
  margin: 20px 0 20px 0;
  background: #FCFCFC;
  border: 1px solid #DCDCDC;
  box-shadow: 0 1px 2px 0 rgba(176, 176, 176, 0.3);
}

#accordion-style-1 h1,
#accordion-style-1 a {
  color: #1E6CC6;
}

#accordion-style-1 .btn-link {
  color: #1E6CC6;
  background-color: transparent;
  text-decoration: none !important;
  font-size: 20px;
  font-weight: 400;
  padding-left: 25px;
}

.card-header {
  padding-top: 13px;
  padding-left: 30px;
  padding-bottom: 0;
  padding-right: 0;
  background-image: none;
}

#accordion-style-1 .card-body {
  border-top: 2px solid #1E6CC6;
}

#accordion-style-1 .card-header .btn.collapsed .main {
  display: none;
}

#accordion-style-1 .card-header .btn .main {
  background: #1E6CC6;
  padding: 6px 8px;
  color: #ffffff;
  width: 35px;
  height: 41px;
  position: absolute;
  left: -1px;
  top: 10px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: block;
}

.overflow-wrap {
  display: inline-block;
  max-width: 90%;
  height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-body p {
  font-size: 18px;
  font-weight: 400;
}


/*FOOTER*/
footer {
  background-color: #fff;
  border-top: 2px solid #D9D9D9;
}

footer h6 {
  position: relative;
  color: #999999;
  font-size: 18px;
  font-weight: 600;
}

.btn-footer {
  color: grey;
  text-decoration: none;
  border: 1px solid;
  border-radius: 43px;
  font-size: 13px;
  padding: 7px 30px;
  line-height: 47px;
}

.btn-footer:hover {
  text-decoration: none;
}

.social {
  margin-top: 20px;
}

.social .fab {
  color: grey;
  font-size: 22px;
  padding: 10px 15px;
  background: #3c3c3c;
}

footer ul li {
  list-style: none;
  display: block;
}

footer ul {
  padding-left: 0;
}

footer ul li a {
  color: #999999;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
}

a:hover {
  text-decoration: none;
  color: grey !important;

}

.logo-part {
  border-right: 1px solid grey;
  height: 100%;
}

footer p {
  padding-top: 10px;
  padding-right: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #999999;
}

footer span {
  font-size: 11px;
  font-weight: 400;
  color: #999999;
}

.form-inline-btm .form-control {
  width: 170px !important;
  height: 30px !important;
}

.form-inline-btm {
  margin-top: 0;
}

.btn-primary-btm {
  width: 80px;
  height: 30px;
  padding: 0;
  margin-left: 5px;
  font-size: 14px;
}


/*MEDIA QUERIES*/
@media (max-width: 575.98px) {
  .navbar-collapse {
    background-color: #F8F9FA;
    position: absolute;
    text-align: center;
    top: 80px;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    padding-bottom: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #7C7C7D;
    border-bottom: 1px solid #7C7C7D;
  }

  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }

  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }

  .page-title h1 {
    font-size: 30px;
  }

  .pg-title {
    padding-top: 10px;
    font-size: 16px;
  }

  hr.orn {
    width: 33%;
  }

  .accordion {
    margin: 5px;
  }

  #accordion-style-1 .btn-link {
    font-size: 14px;
    font-weight: 600;
    padding-left: 5px;
  }

  /*#accordion-style-1 .card-header .btn .main {
    padding: 5px;
    width: auto;
    height: auto;
    top: 18px;
  }*/

  .card-body p {
    font-size: 13px;
  }


  .logo-part {
    border: none;
    text-align: center;
  }

  .w-75 {
    width: 40% !important;
  }

  footer p {
    font-size: 14px;
    margin-top: 10px;
  }
}


@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar-collapse {
    background-color: #F8F9FA;
    position: absolute;
    text-align: center;
    top: 80px;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    padding-bottom: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #7C7C7D;
    border-bottom: 1px solid #7C7C7D;
  }

  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }

  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }

  .logo-part {
    border: none;
    text-align: center;
  }

  .w-75 {
    width: 50% !important;
  }

  footer p {
    font-size: 14px;
    margin-top: 10px;
  }
}


@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar-collapse {
    background-color: #F8F9FA;
    position: absolute;
    text-align: center;
    top: 80px;
    margin: 0 auto;
    width: 100%;
    z-index: 100;
    padding-bottom: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #7C7C7D;
    border-bottom: 1px solid #7C7C7D;
  }

  .navbar-collapse.collapsing {
    height: auto;
    -webkit-transition: left 0.3s ease;
    -o-transition: left 0.3s ease;
    -moz-transition: left 0.3s ease;
    transition: left 0.3s ease;
    left: -100%;
  }

  .navbar-collapse.show {
    left: 0;
    -webkit-transition: left 0.3s ease-in;
    -o-transition: left 0.3s ease-in;
    -moz-transition: left 0.3s ease-in;
    transition: left 0.3s ease-in;
  }

  .logo-part {
    border: none;
    text-align: center;
  }

  .w-75 {
    width: 30% !important;
  }

  footer p {
    font-size: 14px;
    margin-top: 10px;
  }
  
  .accordion {
    margin: 0;
  }
}